<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Uniek Software">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Let us help you find your next tattoo.">
    <link rel="shortcut icon" href="./images/favicon.png">
    <title>Ink Peddler</title>
    <link rel="stylesheet" href="~/dist/landing/css/dashlite.css?ver=2.5.0">
    <link id="skin-default" rel="stylesheet" href="~/dist/landing/css/theme.css?ver=2.5.0">
</head>

<body class="nk-body bg-white npc-landing">
    <div class="nk-app-root">
        @RenderBody()
    </div>
    <script src="~/dist/landing/js/main.js?ver=2.5.0"></script>
</body>
</html>