<div id="business-new" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BusinessModalLabel" aria-hidden="true">
    <div id="business-modal" class="modal-dialog">
        <div class="modal-content" style="background-color: #323b44">
            <div class="modal-header">
                <h4 class="modal-title">Add A New Business</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    
                    
                    
                    
                    

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-4">
                    <button type="button" class="btn btn-outline-success" data-bind="click: SaveNewBusiness">Save New Business</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>