<div id="accountuser-changepassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AccountModalLabel" aria-hidden="true">
    <div id="account-user-change-password-modal" class="modal-dialog">
        <div class="modal-content" style="background-color: #323b44">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row" data-bind="visible: !PasswordUpdated()">
                    <div class="form-group col-sm-6">
                        <label for="NewPassword">New Password</label>
                        <input id="NewPassword" class="form-control" type="password" name="NewPassword" data-bind="value: Password" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input id="ConfirmPassword" class="form-control" type="password" name="ConfirmPassword" data-bind="value: ConfirmPassword" />
                    </div>
                </div>

                <h3 class="text-success" data-bind="visible: PasswordUpdated()">Your password has been updated!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bind="click: SaveNewPassword, visible: !PasswordUpdated()">Save New Password</button>
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>