.section{
    padding: 3.75rem 0;
}
@media(min-width:575px){
    .section{
        padding: 4.25rem 0;
    }
}
@media(min-width:768px){
    .section{
        padding: 5rem 0;
    }
}
.gap-small{
    padding-top: 3rem;
}
@media (min-width:1200px){
    .gap-small{
        padding-top: 5.625rem;
    }
}
@media(min-width:992px){
    .section{
        padding: 6.875rem 0;
    }
}

.section-head{
    padding-bottom: 2.5rem;
    &-sm{
        padding-bottom: 1.5rem;
    }
    .title + p{
        padding-top: 1rem;
    }
}
@include media-breakpoint-up(sm){
    .section-head{
        padding-bottom: 3rem;
        &-sm{
            padding-bottom: 1.5rem;
        }
    }
}