$change-up-icon: $ni-arrow-long-up !default;
$change-down-icon: $ni-arrow-long-down !default;

// collapse
.collapse{
    &-shown{
        display: inline-block !important;
        .collapsed &{
            display: none !important;
        }
    }
    &-hidden{
        display: none !important;
        .collapsed &{
            display: inline-block !important;
        }
    }
}

.entry {
    img{
        border-radius: $border-radius;
        + p, + h2, + h3, + h4, + h5, + h6, + ul, + ol{
            margin-top: ($para-margin * 2);
        }
    }
    p {
        + img{
            margin-top: $para-margin ;
        }
    }
    p {
        + h2, + h3, + h4,+ h5, + h6{
            padding-top: ($para-margin * .75);
        }
    }
}

p > span > .icon.ni {
    vertical-align: middle;
}

.embed-responsive{
    border-radius: $border-radius;
}

//btns
.btns-inline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -$gutter-width/2;
    .text-center & {
        justify-content: center;
    }
    > * {
        padding: $gutter-width/2;
    }
}

//rating
.rating{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &-text{
        font-size: 1rem;
        color: $base-text;
        .rating-sm &{
            font-size: 0.875rem;
        }
    }
    &-stars{
        display: flex;
        margin: 0 -.125rem;
        .icon{
            font-size: 0.875rem;
            color: $warning;
        }
        > *{
            padding: 0 .125rem;
        }
        .rating-sm &{
            margin: 0;
            > *{
                padding: 0;
            }
        }
    }
    &-stars + .rating-text,
    &-text + .rating-stars{
        padding-left: 1rem;
        .rating-sm &{
            padding-left: .5rem;
        }
    }
}