<section class="about-app-sec" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="title">
                    <h3>About INKPeddler</h3>
                    <p>We bring simplification to finding your next tatto by revealing the nearest artists and inspiration near you.  Want some work done but can't seem to find the right idea or concept?  The best artist is the undiscovered one right underneath your fingertips!</p>
                    <p>Download our app today to find and share your next piece of art.</p>
                    <a href="#" class="btn">Download Today!</a>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="special-graphic">
                    <img src="~/Content/img/special-img.jpg" data-aos="fade-up" alt="" />
                    <img src="~/Content/img/icon/svg-mock.png" alt="" class="mock">
                </div>
            </div>*@
        </div>
    </div>
</section>