<section class="app-feature-sec" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h3>INKPeddler</h3>
                    @*<p>The killer app that got the world ready for appliances was the light bulb what wired the world. And they weren't thinking about.</p>*@
                    <p>This killer tattoo app will revolutionize the way you find your next tattoo. We kinda think your gonna like it.</p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="app-mock-up-img">
                    <div class="row justify-content-md-center justify-content-sm-center">
                        <div class="col-md-auto col-sm-auto">
                            <div class="banner-app-mock">
                                <img src="~/Content/img/feature-app.png" class="main-img" alt="" />
                                <img src="~/Content/img/mobile-mock.png" class="mockup" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="mobile-graphic">
                        <img src="~/Content/img/mobile-graphic.png" alt="" class="moc-grp">
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="feature-inside">
                    <ul>
                        <li>
                            <img src="~/Content/img/icon/feature1.png" alt="" />
                            <h4>Super Mobile Friendly</h4>
                            <p>Beautifly desinged with mobile first approach</p>
                        </li>
                        <li>
                            <img src="~/Content/img/icon/feature2.png" alt="" />
                            <h4>User Friendly Interface</h4>
                            <p>Easily navigate to find and tag your next tottoo pieces</p>
                        </li>
                        <li>
                            <img src="~/Content/img/icon/feature3.png" alt="" />
                            <h4>New Tattoos Daily</h4>
                            <p>We are continually adding new artist and art </p>
                        </li>
                    </ul>
                    <div class="btn-group">
                        <a href="#" class="btn"><i class="fab fa-apple fa-2x"></i> Available For <br>Apple</a>
                        <a href="https://play.google.com/store/apps/details?id=com.inkpeddler.mobile" class="btn"><i class="fab fa-google-play fa-2x"></i> Available For<br> Android</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>