<section class="app-screenshot-sec" id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center offset-md-2">
                <div class="title">
                    <h3>Check Screenshots</h3>
                    <p>This killer tattoo app will revolutionize the way you find your next tattoo. We kinda think your gonna like it.</p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
                <div class="owl-carousel" id="screenshot-owl">
                    <div>
                        <div class="single-shot">
                            <img src="~/Content/img/screenshot1.jpg" alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="single-shot">
                            <img src="~/Content/img/screenshot2.jpg" alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="single-shot">
                            <img src="~/Content/img/banner-app.jpg" alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="single-shot">
                            <img src="~/Content/img/screenshot1.jpg" alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="single-shot">
                            <img src="~/Content/img/feature-app.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>