<script type="text/html" id="security-change-password">
    <div class="card card-login mx-auto mt-5">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Enter new password" data-bind="value: Password">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Confirm new password" data-bind="value: ConfirmPassword">
                </div>
                <a class="btn btn-dark btn-block text-white" data-bind="click: ChangePassword">Change Password</a>
            </form>
        </div>
    </div>
</script> 