<script type="text/html" id="UserViewTemplate">
    <div id="user-view" class="ip-container">
        <div data-bind="component: Canvased "></div>
        <div data-bind="component: Tatted "></div>
        <div data-bind="component: Uploaded "></div>
    </div>
</script>