<div data-bind="with: CurrentVM()">

    @Html.Partial("_PaginationTemplate")
    @Html.Partial("_ErrorList")

</div>

@section scripts
{
    <script type="text/javascript">
        MainVM.CurrentVM(new ErrorLogViewModel());
        MainVM.CurrentVM().Load();
    </script>
}