<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>INKPEDDLER.COM</title>

    <link rel="icon" href="~/Content/img/fav_icon.png">

    <link rel="apple-touch-icon" href="~/Content/img/fav/android-icon-48x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/fav/android-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/fav/apple-icon-114x114.png" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/aos.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700">

    <script src="~/Content/js/vendor/modernizr.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="60">

    @RenderBody()

    <script src="~/Content/js/jquery-1.12.4.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/plugins/knockout/knockout.3.4.2.min.js"></script>
    <script src="~/ViewModels/_BaseViewModel.js"></script>
    <script src="~/ViewModels/HomeViewModel.js"></script>
    <script src="~/Content/js/vendor/popper.min.js"></script>
    <script src="~/Content/js/vendor/aos.js"></script>
    <script src="~/Content/js/vendor/owl-carousel.js"></script>
    <script src="~/Content/js/vendor/counter.js"></script>
    <script src="~/Content/js/vendor/easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
    <script src="~/Content/js/contact.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP_V1Z5KLORWgKTdhZOecQLGRPZqrf5xU&callback=initMap" async defer></script>
    <script src="~/Content/js/main.js"></script>

    <script type="text/javascript">
        var MainVM = new MainViewModel();
        ko.applyBindings(MainVM);
    </script>

    @RenderSection("scripts", false)
</body>
</html>